{% extends "layout.html" %}

{% block title %}
    Compose
{% endblock %}

{% block main %}
    <form action="/compose" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="sender" value="{{sender}}" placeholder="Email" type="email">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="recipient" name="recipient" placeholder="Recipient" type="email">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="submit" name="subject" placeholder="Subject" type="text">
        </div>
        <div>
            <textarea name="body"></textarea>
        </div>

        <button class="btn btn-primary my-3" type="submit">Sent</button>
    </form>
{% endblock %}
